body {
  background-color: rgb(227, 236, 240);
  color: rgb(60, 70, 70);
  width: 500px;
  margin-right: auto;
  margin-left : auto;
}
button {
  padding: 5px 20px;
  background-color: rgb(161, 176, 189);
  border-style: none;
}
input {
  height: 20px;
}
